<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gionee.gnservice">

    <permission
            android:name="com.gionee.gnservice.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="com.gionee.cloud.permission.CHANGE_RECORD"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--baidu map-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="gn.com.android.Statistics.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.gionee.youju.statistics.permission.READ_PROVIDER"/>
    <uses-permission android:name="com.gionee.youju.statistics.permission.WRITE_PROVIDER"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="com.gionee.launcher.permission.PRESSURE_SENSOR"/>
    <uses-permission android:name="com.gionee.gnservice.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.gionee.cloud.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="lATyCKo95WbkM6i0K2Gadz1k"/>
        <meta-data
                android:name="YJ_APP_ID"
                android:value="C28ED24A9B7B49A1"/>

        <meta-data
                android:name="FeedBack_AppId"
                android:value="6d7e1f5ff763426b81f9ec362ac52bc2"/>

        <activity
                android:name="com.gionee.gnservice.UserCenterActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:label="@string/uc_user_center"
                android:theme="@android:style/Theme.Holo.NoActionBar"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.gionee.gnservice.WelcomActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.gionee.gnservice.GNServiceActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.gionee.gnservice.SdkDemoActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout"
                android:screenOrientation="portrait"/>
        <!--会员-->
        <activity
                android:name="com.gionee.gnservice.sdk.member.MemberCardActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gionee.gnservice.sdk.toMemberCardActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.gionee.gnservice.sdk.integral.MemberIntegralActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gionee.gnservice.sdk.toMemberIntegralActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
                android:name="com.gionee.gnservice.sdk.coupon.MemberCouponActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gionee.gnservice.sdk.toMemberCouponActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
                android:name="com.gionee.gnservice.sdk.coupon.MemberCouponExpiredActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.gionee.gnservice.sdk.integral.MemberIntegralLotteryActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gionee.gnservice.sdk.toMemberIntegralLotteryActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.gionee.gnservice.sdk.integral.MemberIntegralMallActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gionee.gnservice.sdk.toMemberIntegralMallActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.gionee.gnservice.module.integral.MemberIntegralMakeActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="com.gionee.gnservice.EARN_SCORE_FORHTML"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.gionee.gnservice.sdk.integral.MemberIntegralRuleActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.gionee.gnservice.sdk.member.MemberPrivilegeActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gionee.gnservice.sdk.toMemberPrivilegeActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.gionee.gnservice.sdk.member.MemberPrivilegeContentActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.gionee.gnservice.sdk.member.MemberPrivilegeContentMoreActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.gionee.gnservice.sdk.integral.MemberIntegralRecordActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout"
                android:screenOrientation="portrait"/>

        <!--bbs-->
        <activity
                android:name="com.gionee.gnservice.module.bbs.AmigoBBSActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:exported="true"
                android:hardwareAccelerated="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.gionee.gnservice.module.setting.MemberSettingActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout|screenSize"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.gionee.gnservice.module.main.WebViewActivity"
                android:configChanges="fontScale|mcc|mnc|locale|screenLayout"
                android:screenOrientation="portrait"/>


        <!--帐号登录注册需要使用-->
        <activity
                android:name="com.gionee.account.sdk.activity.AssistActivity"
                android:configChanges="mcc|mnc|orientation|screenSize"
                android:screenOrientation="unspecified"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                    android:name="version"
                    android:value="6.0.1.p"></meta-data>
        </activity>

        <!--feedback-->
        <activity
                android:name="com.gionee.feedback.ui.FeedBackActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name="com.gionee.feedback.ui.DeleteAttachActivity"/>

        <receiver android:name="com.gionee.feedback.ui.FeedBackReceiver">
            <intent-filter>
                <action android:name="gionee.intent.action.FEEDBACK_ALARM"/>
            </intent-filter>
        </receiver>


        <receiver android:name="com.gionee.feedback.ui.FeedBackReceiver">
            <intent-filter>
                <action android:name="gionee.intent.action.FEEDBACK_ALARM"/>
            </intent-filter>
        </receiver>

        <!--push-->
        <receiver
                android:name=".module.setting.push.PushReceiver"
                android:permission="com.gionee.cloud.permission.SEND">
            <intent-filter>
                <action android:name="com.gionee.cloud.intent.REGISTRATION"/>

                <category android:name="com.gionee.cloud"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.gionee.cloud.intent.RECEIVE"/>

                <category android:name="com.gionee.cloud"/>
            </intent-filter>
        </receiver>
        <!--
        <service android:name=".module.setting.push.EmptyService"/>
        -->
    </application>

</manifest>
