<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinLibraryX">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">

        </activity>

        <activity
            android:name=".ComposeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">

        </activity>

        <activity
            android:name=".ComposeStateActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">

        </activity>

        <activity
            android:name=".ComponseListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">

        </activity>

        <activity
            android:name=".ViewListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">

        </activity>

        <activity
            android:name=".ComposeUiActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">

        </activity>

        <activity
            android:name=".ComposeAnimateActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLibraryX.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>