<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="gionee.gnservice.app"
          tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/uc_user_center"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:label,android:allowBackup,icon">

        <!-- 百策开屏 -->
        <service android:name=".service.LocalService"/>
        <!--注册远程服务  新启动一个进程 ：remote-->
        <service
                android:name=".service.RemoteService"
                android:process=":remote"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-2261221715899905~9143459369"/>
        <meta-data
                android:name="YJ_APP_ID"
                android:value="C28ED24A9B7B49A1"/>
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="lATyCKo95WbkM6i0K2Gadz1k"/>
        <meta-data
                android:name="FeedBack_AppId"
                android:value="6d7e1f5ff763426b81f9ec362ac52bc2"/>

        <activity
                android:name=".view.activity.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/WelcomeTheme">
            <intent-filter>

                <!-- 协议部分，随便设置 glucenter://init?ch= -->
                <data
                        android:host="start"
                        android:scheme="glucenter"/>
                <!-- 下面这几行也必须得设置 -->
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.SplashSubActivity"
                android:icon="@mipmap/ic_launcher_sub"
                android:label="@string/sub_user_center"
                android:screenOrientation="portrait"
                android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.SplashRunActivity"
                android:screenOrientation="portrait"
                android:theme="@style/WelcomeTheme"/>
        <activity
                android:name=".view.activity.MainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="com.gionee.gnservice.WelcomActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.gionee.gnservice.GNServiceActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.GameActivity"/>
        <activity
                android:name=".view.activity.VideoDetailsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.activity.WebActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:screenOrientation="portrait"
                android:name=".view.activity.RedPackageActivity"
                android:theme="@style/MaskTheme"/>

    </application>

</manifest>